## For more information on this file, see:
##         http://www.usefulutilities.com/support/cfg/
## Maintained by Duke University Libraries Core Services
## - Derrek Croney
###########################################################
# Basic configuration information

# Until otherwise instructed, allow EZProxy to redirect to non-proxied URLs
# that contain '.duke.edu'.
# --------------------------------------------------------------------
RedirectSafe *.duke.edu
{% if approved_safe_redirects is defined %}
{% for safe_domain in approved_safe_redirects %}
RedirectSafe {{ safe_domain }}
{% endfor %}
{% endif %}

IncludeFile hostinterfacedetails.cfg
IncludeFile serverspecificconfigs.cfg

# Info for sysadmins
PidFile /srv/perkins/var/run/ezproxy.pid

#Enable Intrusion Detection
IntruderAttempts {{ intruder.attempts }}
IntruderIPAttempts -interval={{ intruder.ip.interval }} -expires={{ intruder.ip.expires }} {{ intruder.ip.attempts | default(intruder.attempts) }}
IntruderUserAttempts -interval={{ intruder.user.interval }} -expires={{ intruder.user.expires }} {{ intruder.user.attempts | default(intruder.attempts) }}

#Max User connections
MaxVirtualHosts {{ max_virtual_hosts }}
MaxSessions {{ max_sessions }}

Audit {{ audit }}

Option StatusUser

# Option LogSession
# we want to log both user and session; according to docs, set logging to user, then include special expression to get session IDs (see serverspecificconfigs for log-file-location)
{% if log_user %}
Option LogUser
{% endif %}

# logformat with NetIDs and session ids
# LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b
# logformat with NetIDs and session ids, combined format
LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b "%{Referer}i" "%{User-agent}i"

#RejectIP 68.14.229.198
#RejectIP 68.15.0.0-68.15.255.255

# TASK2990850 (ServiceNow) // WebX request to increase the usage limit from 
# 200M to 250M
{% if usage_limit.enforce %}
UsageLimit -enforce -interval={{ usage_limit.interval }} -expires={{ usage_limit.expires }} -MB={{ usage_limit.MB }} Global
{% endif %}

# We haven't used this setting in several years.
# It's here for historical notes.
##HTTPHeader -global -request -edit X-Frame-Options SAMEORIGIN

##########################################
## Redirection/Rewrite section (using SPUEdit)

## This section is for any special URLs that use EZProxy to perform URL acrobatics involving authentication (Shib) and rewrite-rules
## It is at the top of the main config.txt file so that it's applied to all source IPs.
# Redirect Resource-Finder-based RefWorks URLs to use RefWorks' Shibboleth-ready implementation (and using duke's IDP)
# example: http://find.library.duke.edu/results.php?type=books&recordid=DUKE003964338&exportoption=ris-rw&exportentry[]=DUKE003964338
# https://www.refworks.com/Shibboleth.sso/DefaultSessionInitiator?providerId=urn%3Amace%3Aincommon%3Aduke.edu&target=
# https://www.refworks.com/Shibboleth.sso/DefaultSessionInitiator?providerId=urn%3Amace%3Aincommon%3Aduke.edu&target=https%3A//www.refworks.com/RWShibboleth/%3Ftarget%3Dhttp%253Adev.metasearch.library.duke.edu%252Fresults.php%253Ftype%253Dbooks%2526recordid%253DDUKE004145906%2526exportoption%253Dris-rw%2526exportentry%255B%255D%253DDUKE004145906

##########################################
# Define any restricted-access resources (placed above any ip-exclusions so that all users must authenticate)
IncludeFile restrictedresources.cfg

##########################################
# Define ILLiad inclusion (placed above any ip-exclusions so that all users must authenticate)
IncludeFile illiad.cfg

##########################################
# Define the most generic group for most databases (other group-names can be used below for more other groupings to restrict access further to those databases)
Group CommonLib

##########################################
# Add any legacy database definitions whose access always require authentication, even while on-campus (Ford, Law)
IncludeFile exceptionaldatabases.cfg

# It was decided in a meeting on 11/24/2014 that this file should appear above the IP exceptions/exclusions
IncludeFile databases-form-based.cfg

##########################################
# Define the range of IP addresses here that constitute "on-campus" for purposes of database/vendor access
ExcludeIP 152.3.0.0-152.3.255.255
ExcludeIP 152.16.0.0-152.16.255.255
ExcludeIP 67.159.64.0-67.159.127.254
ExcludeIP 10.180.0.0-10.189.255.255
#ExcludeIP 10.236.12.0-10.236.13.255
ExcludeIP 198.86.29.0-198.86.29.255

# new range from Marine Library
ExcludeIP 10.236.120.1-10.236.120.255

## Law School wired computer need this exclusion
## Request submitted by Sean Chen (TASK0989288)
ExcludeIP 10.136.168.0-10.136.171.255

# Provide any exceptions in these ip-ranges for on campus users who want to perform (not-very-complete) testing
IncludeIP 152.3.238.207
IncludeIP 152.3.238.3
IncludeIP 152.3.238.20
IncludeIP 152.3.239.13
IncludeIP 152.3.117.30
IncludeIP 152.3.117.53
#IncludeIP 67.159.69.203

# VPN CONTEXTS / IP-RANGES
# =============================================
# Provide any exception in these ip-ranges that should be viewed as off-campus (e.g. VPN connections)
# NOTE: The following entry is confirmed to be the full-tunnel "library-resources" VPN profile, which should not be viewed as off-campus
# UPDATED IP range for "library-resources", provided by Kevin Davis on
# December 10, 2014
#
IncludeIP 10.182.0.0-10.182.255.255

IncludeFile vpncontexts.cfg
IncludeFile wirelesscontext.cfg

# Provide IP range for DKU local network
IncludeIP 103.252.172.0-103.252.175.255

##########################################
# Define any SPUEdit settings for Shib-based access

IncludeFile spueditrules.cfg

##########################################
# provide other include file directive, for manually-maintained vendors (e.g. databases) and generated-list vendors (e.g. e-journals)
IncludeFile database.cfg
IncludeFile e-journals.cfg
IncludeFile alum.cfg

##########################################
## Also include the redirunknown directive so that undefined URLs that are passed to EZProxy are passed-through (rather than reporting an error)
##
## UPDATE: ITS disabled the 'Option UnsafeRedirectUnknown' directive
## included in the file below, as it appears phishers are using
## EZProxy in an attempt to uncover back-door vulnerabilities.
## (dlc32 / 5-1/2019)
##IncludeFile redirunknown.txt

##########################################
# Many sites use dx.doi.org when linking from one database to another.
# Useful Utilities recommends leaving this definition in your configuration
# file.  The special -hide option prevents this from showing up in your
# database menu
Title -hide Digital Object Identifier System
URL http://dx.doi.org
Domain doi.org

##########################################
# Allow DKU student access to titles previously defined in exceptionalDatabases
# IncludeFile dku_whitelist.cfg
IncludeFile dku_blacklist.cfg

# Specific MedCenter Library Titles that DKU students cannot access
# IncludeFile medcenter.cfg
