# shibuser.txt
# 
# This file allows the use of Shibboleth attributes to make EZproxy authorization decisions. This sample demonstrates how to restrict access to a specific Identity Provider, block alumni, place employees into an additional EZproxy group, place people affiliated with the law.example.edu scope into an additional EZproxy group, designate a specific user as an EZproxy administrator, and map an attribute for EZproxy to use as the username for logging, enforcing transfer limits, etc.
# 
#     If !(auth:issuer eq "https://idp.yourlib.org/shibboleth/idp");
#        Deny unaffiliated.html
#     If auth:urn:mace:dir:attribute-def:eduPersonPrimaryAffiliation eq "alum"; Deny alum.html
#     Group Default
#     If Any(auth:urn:mace:dir:attribute-def:eduPersonAffiliation, "employee"); Group +Employee
#     If Count(auth:urn:mace:dir:attribute-def:eduPersonScopedAffiliation@law.example.edu) > 0; Group +Law
#     If auth:urn:mace:dir:attribute-def:eduPersonPrincipalName@example.edu eq "ezmgr"; Admin
#     Set login:loguser = auth:urn:mace:dir:attribute-def:eduPersonTargetedID
# 
# To determine the attributes that are available for use, access the EZproxy administration page (<http://www.oclc.org/us/en/support/documentation/ezproxy/url/admin/default.htm>), then the Manage Shibboleth page, and use one of the options provided to display your attributes. Note that auth: is placed in front of the attribute name that appears on this page. For the attribute name, if both a name and a friendly name appear, you can use either after auth:. If a value appears in the scope column, then an @ sign and this scope value must be added to the end of the attribute name.
# 
# See Common Conditions and Action (<http://www.oclc.org/us/en/support/documentation/ezproxy/usr/common.htm>)for additional directives that can be used in shibuser.txt and Expressions (<http://www.oclc.org/us/en/support/documentation/ezproxy/expressions/default.htm>) for additional comparison, string, and numeric operations. 

{% if shibuser.debug %}Debug{% endif %}

##########################################################################

# Make sure to log users using their NetIDs
# Set login:loguser = auth:eduPersonPrincipalName
If auth:eduPersonPrincipalName ne ""; Set login:loguser = auth:eduPersonPrincipalName

# First, deny access to alumni and/or no-affiliation users
# But do so with a message that directs the person to DUL's Alumni Proxy instance
If Any(auth:eduPersonPrimaryAffiliation, "alumni"); Deny deny.htm

# Leverage the newly created OIT "Policy Group" that identifies 
# all current staff/students/faculty at Duke and DKU, as well as the "included affiliates" and
# our own managed "excludes" list
If AnyRE(auth:isMemberOf, "{{ shibuser.policy.authorized_urn }}") == 0; Deny deny.htm

# Deny any authenticated person that does not have a Primary Affiliation
If Null(auth:eduPersonPrimaryAffiliation) == 1; Deny deny.htm

# Restrict access to resources for students located at DKU
## PROPOSED change:
## We'll have a list of 'blacklisted titles (DKU_Blacklist)' that will be made available 
## to everyone who is not in the 'ezproxyrestricted' group
## If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:library:ezproxy:ezproxyrestricted/") == 0; Group +DKU_Blacklist
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:ezproxy-restricted") == 0; Group +DKU_Blacklist

If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:ezproxy-restricted") == 1; Group -RestrictedResources -FactivaDB +CommonLib +Illiad
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:ezproxy-restricted") == 1; Group -DKU_Blacklist
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:ezproxy-restricted") == 1; Stop

# Now provide group-based access to staff/faculty/students/affiliates/emeritus
# changed from eduPersonScopedAffiliation to eduPersonPrimaryAffiliation
# appears that OIT restructured some of their directory/ldap settings/rules.
# also removed the @duke.edu from the string test (05/03/18 - dlc32)
#If AnyRE(auth:eduPersonAffiliation, "/^(staff|faculty|student|affiliate|emeritus)/"); Group +CommonLib +Illiad +FactivaDB +MedCenter_Restricted

If AnyRE(auth:eduPersonPrimaryAffiliation, "/^(staff|faculty|student|affiliate|emeritus)$/"); Group +CommonLib +Illiad +FactivaDB +MedCenter_Restricted

# =====================================================================================
# Define any restricted-access individuals
# NOTE: as of January 2015, we are removing individual-based access conditions
# PLEASE REVIEW: If auth:eduPersonPrincipalName eq "yw34@duke.edu"; Group -FactivaDB
#
# =====================================================================================

# This line is meant to address any staff at DKU who is supposed to have
# access to titles
# DEPRECATED: If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:library:ezproxy:ezproxydeny_excludes$/"); Group +CommonLib +Illiad +FactivaDB

# following restrictions added per Carlton Brown request February 2013
If Any(auth:eduPersonPrimaryAffiliation, "student") && AnyRE(auth:duStatusSISS, "/^(LOA|Suspended)$/i"); Group -CommonLib -RestrictedResources

# Lastly, define admin users
# TODO - place these NetIDs into an LDAP group
If Any(auth:isMemberOf, "urn:mace:duke.edu:groups:library:applications:ezproxy_admin"); Admin; Stop

# Uncomment the following line to allow for user authentication debugging
# Debug
